node_modules/
.env
.env.local
*.log
.DS_Store
*.keystore
**/google-services.json
**/GoogleService-Info.plist
vendor/
*.gem
.bundle/
src/config/env.ts

# iOS specific ignores
ios/Pods/
ios/build/
ios/DerivedData/
ios/.xcode.env.local
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/*.xcuserstate

# Android specific ignores
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/*.iml
android/.idea/
